{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
		<title>{% block title %}VideoRemoveSilence{% endblock %}</title>
		{% tailwind_css %}
	</head>

	<body class="bg-gradient-to-r from-fuchsia-500 to-cyan-500 font-semibold leading-normal tracking-normal flex flex-col min-h-screen">
		<div id="navbar">
			<nav class="backdrop-blur-md bg-gradient-to-r from-slate-300 to-slate-500 mb-14">
				<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
					<div class="relative flex h-16 items-center justify-between">
					<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
						<!-- Mobile menu button-->
						<button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
						<span class="absolute -inset-0.5"></span>
						<span class="sr-only">Open main menu</span>
						<!--
							Icon when menu is closed.

							Menu open: "hidden", Menu closed: "block"
						-->
						<svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
						</svg>
						<!--
							Icon when menu is open.

							Menu open: "block", Menu closed: "hidden"
						-->
						<svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
						</svg>
						</button>
					</div>
					<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
						<div class="flex flex-shrink-0 items-center">
							<a href="/">
								<img class="h-12 w-auto" src="{% static 'images/logo-trans.png' %}" alt="LOGO">
							</a>
						</div>
						<div class="hidden sm:ml-6 sm:block">
						<!--div class="flex space-x-4">
							<a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>
							<a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
							<a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
							<a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
						</div-->
						</div>
					</div>
					<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
						<a href="https://www.youtube.com/@developpeurtaf" target="_blank">
							<button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
								<span class="absolute -inset-1.5"></span>
								<span class="sr-only">Ma chaine</span>
								<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"x="0px" y="0px"  viewBox="0 0 48 48">
									<path fill="#FF3D00" d="M43.2,33.9c-0.4,2.1-2.1,3.7-4.2,4c-3.3,0.5-8.8,1.1-15,1.1c-6.1,0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4,31.6,4,28.2,4,24c0-4.2,0.4-7.6,0.8-9.9c0.4-2.1,2.1-3.7,4.2-4C12.3,9.6,17.8,9,24,9c6.2,0,11.6,0.6,15,1.1c2.1,0.3,3.8,1.9,4.2,4c0.4,2.3,0.9,5.7,0.9,9.9C44,28.2,43.6,31.6,43.2,33.9z"></path><path fill="#FFF" d="M20 31L20 17 32 24z"></path>
								</svg>
							</button>
						</a>

						<!-- Profile dropdown -->
						<div class="relative ml-3">
							<div>
								<a href="https://github.com/EtudiantFabre" target="_blank">
									<button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
										<span class="absolute -inset-1.5"></span>
										<span class="sr-only">Open user menu</span>
										<img class="h-8 w-8 rounded-full" src="https://avatars.githubusercontent.com/u/96290285?v=4" alt="Github">
									</button>
								</a>
							</div>
						</div>
					</div>
					</div>
				</div>

				<!-- Mobile menu, show/hide based on menu state. -->
				<div class="sm:hidden" id="mobile-menu">
					<div class="space-y-1 px-2 pb-3 pt-2">
					<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
					<a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
					<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
					<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
					<a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
					</div>
				</div>
			</nav>
		</div>
		<div class="container mx-auto flex-grow">
			<section class="flex items-center justify-center h-full">
				<div id="content">
					<!--img
						src="{% static 'images/televersevideo.png' %}"
						class="rounded-full w-1/2 h-1/2"
						alt="" /-->
					{% block content %}{% endblock %}
				</div>
			</section>
		</div>
		<div id="footer" class="mt-auto">
			<footer class="backdrop-blur-md bg-gradient-to-r from-slate-300 to-slate-500 dark:bg-white">
				<div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
					<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
					</span>
					<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
						<li>
							<a href="#" class="hover:underline me-4 md:me-6">About</a>
						</li>
						<li>
							<a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
						</li>
						<li>
							<a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
						</li>
						<li>
							<a href="#" class="hover:underline">Contact</a>
						</li>
					</ul>
				</div>
			</footer>
		</div>
	</body>
</html>
